<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
 <style type="text/css">
    .asteriskField {
      display: none;
    }

    form .alert ul li {
      list-style: none;
    }

    form .alert ul {
      padding: 0;
      margin: 0;
    }
  </style>

    <title>{% block title %}Usuarios{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand"><a href="{% url 'bienvenida' %}">Inicio</a></h1>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'noticia_list' %}">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reunion' %}">Reuniones</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'noticia_crear' %}">Crear Noticia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'reunion_crear' %}">Crear Reunion</a>
              </li>
              {% endif %}
            </ul>
          </div>
    </nav>
    <div class="row justify-content-center" >
				{% if user.is_authenticated %}
          <div class="dropdown show">
            <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'sign_out' %}">Cerrar Sesión</a>
              <a class="dropdown-item" href="#">Notificaciones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'editar_usuario' user.pk %}">Configurar mi Cuenta</a>
            </div>
          </div>
				{% else %}
        <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-secondary" href="{% url 'sign_in' %}">Iniciar Sesión</a>
                <a class="btn btn-primary ml-2" href="{% url 'sign_up' %}">Registrarse</a>
        </form>
				{% endif %}
      </div>
    </div>
  </nav>
        <div class="container">
          		{% block content %}

          		{% endblock content %}
        </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</body>
</html>