{% extends '../base.html' %}

{% block titulo %}{{ titulo reunion }}{% endblock titulo %}

{% block contenido %}
		<div class="card mb-3">
  			<img src="..." class="card-img-top" alt="...">
  			<div class="card-body">
    			<h3 class="card-title">{{ reunion.titulo }}</h3>
    			<h5 class="card-title" >{{ reunion.fecha }}</h5>
    			<h5 class="card-title" >{{ reunion.hora_inicio }}</h5>
    			<h5 class="card-title" >{{ reunion.hora_fin }}</h5>
    			<p class="card-text">{{ reunion.asunto }}}</p>
    			<p class="card-text"><small class="text-muted">{{ reunion.fecha_pub }}</small></p>
  			</div>
		</div>
{% endblock contenido %}
